
body{
	width:90%;
	margin: 2em auto;
}

.header, .footer, .content { 
	margin: 1em auto;
	border: 0.1em solid #765341;
	border-radius: 1em;
	padding: 1em;
	background: #d8cbc4;
    box-shadow: 0.2em 0.2em 0.7em #ccc;
	font-family: Times New Roman;
}

.header, .footer{ 
	text-align: center;
	font-family: Times New Roman;
}

.messages {	margin: 1em auto; }

.err, .inf, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	color: #222;
}

.err { background-color: #f88; }
.inf { background-color: #8f8; }
.res { background-color: #9CAF88; }
